.root {
  display: flex;
  justify-content: center;
}

.mt {
  margin-top: 0.5em;
}

tbody td{
  padding: 0.3em;
}

tbody tr:nth-child(odd){
  background-color: #d5e5fe;
}

td.radius, td.distance {
  text-align: right;
}
